<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </head>

  <body class="container">
    <header>
      <% if user_signed_in? %>
        <div class="links">
          <%= link_to('Logout', destroy_user_session_path, 
            { method: :delete, class: "btn" }) %>        
        </div>
      <% end %>

      <div class="text-center">
        <h2>Simple todo lists</h2>
        <h4>for ruby garage</h4>
      </div>
    </header>

    <% unless user_signed_in? %>
      <div class="info">
        <div class="row">
          <div class="col-md-4 col-md-offset-4
                      col-sm-6 col-sm-offset-3
                      col-xs-8 col-xs-offset-2">
            <% if notice %>
              <div class="alert alert-info" role="alert">
                <%= notice %>
              </div>
            <% end %>

            <% if alert %>
              <div class="alert alert-danger" role="alert">
                <%= alert %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
